root {
  tophight: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: rgba(65, 64, 64, 0.9);
  /* letter-spacing: 0.3px; */
  /* line-height: 1.6; */
  /* line-height: 3; */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .topbar,
  .homeContainer {
    flex-direction: column;
  }

  .rightbar,
  .sidebar {
    display: none;
  }
}
