.topbarContainer {
  height: 60px;
  width: 100%;
  /* background-color: #1877f2; */
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
}

.topbarLeft {
  flex: 25%;
  /* display: flex;
  align-items: center; */
  height: 100%;
  /* background-color: greenyellow; */
  /* box-sizing: border-box; */
}

.topbarLeftWapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.logoIcon {
  /* font-size: 40px !important; */
  width: 45px;
  height: 45px;
  margin-left: 10px;
  margin-right: 5px;
  color: #1877f2 !important;
}

.logo {
  /* font-size: 24px; */
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.searchbar {
  width: 70%;
  height: 45px;
  /* background-color: #ebedf0; */
  background-color: #f2f3f5;
  border-radius: 30px;
  display: flex;
  align-items: center;
  overflow: auto;
}

.searchIcon {
  font-size: 12px !important;
  /* font-weight: 900; */
  color: gray !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 80%;
  /* background-color: #ebedf0; */
  background-color: #f2f3f5;
  padding: 0 5px;
  font-size: 12px;
  font-weight: 500;
}

.searchInput:focus {
  outline: none;
}

.topbarCenter {
  flex: 50%;
  /* background-color: lightblue; */
  box-sizing: border-box;
  padding: 0 50px;
}

.topbarCenterMenuWapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 0 150px; */
}

.menuItem {
  width: 18%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menuItemIcon {
  width: 25px !important;
  height: 30px !important;
  object-fit: cover;
}

.menuItem:hover:not(.active) {
  /* background-color: #ebedf0; */
  background-color: #f2f3f5;
  /* background-color: #e6eaee; */
  /* background-color: #dadde1; */

  border-radius: 10px;
  height: 45px;
}

.menuItem.active {
  border-bottom: 3px solid #1877f2;
  border-radius: 10px 10px 0 0;
  /* color: #1877f2 !important; */
  height: 45px;
}

.topbarRight {
  flex: 25%;
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
  color: white;
  /* padding: 0 10px; */
  /* background-color: lightpink; */
  height: 100%;
}

.topbarRightWapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.topbarIconItem {
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* background-color: #ebedf0; */
  background-color: #f5f6f7;
}

.topbarIconItem:hover {
  background-color: #dadde1;
  /* background-color: #e6eaee; */
}

.topbarIconItemIcon {
  /* color: #1877f2 !important; */
  color: black;
  width: 18px !important;
  height: 18px !important;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: rgb(224, 0, 0);
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
}

.topbarImgWapper {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.topbarImg {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid lightgray;
}

.topbarImgUsername {
  margin-left: 5px;
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: inherit;
  color: black;
}
