.homeContainer {
  display: flex;
  /* width: 100%; */
  background-color: #ebedf0;
  flex-wrap: wrap;
}

.homeCenter {
  display: flex;
  flex-direction: column;
  flex: 60%;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  top: 60px;
  /* background-color: #ebedf0; */
  background-color: #f5f6f7;
  box-sizing: border-box;
  width: 100%;
}

.homeCenterWrapper {
  padding: 20px 100px;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}
