.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 20px 0;
  background-color: white;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
}

.postProfileImg {
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid lightgray;
  margin-top: 5px;
}

.postInfo {
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 10px;
}
.postUsername {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.postDate {
  font-size: 12px;
  font-weight: bold;
  color: rgba(65, 64, 64, 0.9);
}

.postTopRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.postTopRight:hover {
  border-radius: 50%;
  /* background-color: #ebedf0; */
  background-color: #e6eaee;
}
.postCenter {
  margin: 20px 0;
}

.postText {
  font-size: 14px;
  margin-left: 10px;
}
.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 12px;
  color: gray;
}

.postCommentText {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: gray;
}

.postCommentText:hover {
  /* font-size: 11px;
  font-weight: 600; */
  border-bottom: 1px solid gray;
}
