.room {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  background-color: white;
  margin-bottom: 20px;
}

.roomWrapper {
  padding: 12px 10px;
}

.roomTop {
  display: flex;
  align-items: center;
  overflow: auto;
}

.roomProfileImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.roomInput {
  border: none;
  width: 90%;
  height: 36px;
  /* background-color: #ebedf0; */
  background-color: #f2f3f5;

  border-radius: 30px;
  padding: 0 15px;
  font-size: 18px;
}

.roomInput:focus {
  outline: none;
}

.roomHr {
  margin: 15px;
  border: 1px solid rgb(233, 233, 233);
}

.roomBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.roomOptions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin-left: 20px; */
  flex-wrap: wrap;
  flex: 10;
}

.roomOption {
  display: flex;
  align-items: center;
  /* margin-right: 20px; */
  cursor: pointer;
}

.roomIcon {
  font-size: 28px !important;
  margin-right: 5px;
}

.roomOptionText {
  font-size: 13px;
  font-weight: 600;
  height: 100%;
  letter-spacing: 1px;
  color: rgb(92, 116, 223);
  height: 45px;
  display: flex;
  align-items: center;
}

.roomButton {
  border: 1px solid rgb(204, 232, 241);
  padding: 5px 12px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  margin: 0 10px;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}

.roomImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;
}

.roomImg {
  width: 100%;
  object-fit: cover;
}

.roomCancelImg {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}
