.sidebar {
  flex: 3;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  position: sticky;
  top: 60px;
  background-color: #ebedf0;
  /* background-color: green; */
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding-bottom: 10px;
  margin: 0;
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid gray;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  height: 40px;
}

.sidebarListItem:hover {
  background-color: #dadde1;
  border-radius: 10px;
}

.sidebarIcon {
  width: 32px !important;
  height: 32px !important;
}

.sidebarListItemText {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 32px;
}
.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 10px;
  background-color: #dadde1;
}

.sidebarHr {
  margin: 10px;
  color: lightgray;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: lightblue; */
}
