.sidebar {
  flex: 20%;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  position: sticky;
  top: 60px;
  /* background-color: #ebedf0; */
  background-color: #f5f6f7;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 20px 20px;
}

.sidebarList {
  /* padding-bottom: 10px; */
  margin: 0;
  list-style: none;
  overflow: hidden;
  /* border-bottom: 1px solid gray; */
}

.sidebarListItem {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  height: 40px;
  margin-bottom: 10px;
  /* background-color: #ebedf0dc; */
}

.sidebarListItem:hover {
  /* background-color: #dadde1; */
  background-color: #e6eaee;
  border-radius: 10px;
  width: 90%;
  cursor: pointer;
}

.sidebarIcon {
  width: 32px !important;
  height: 32px !important;
  border-radius: 50%;
}

.sidebarListItemText {
  margin-left: 15px;
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: inherit;
  text-decoration: none;
}
.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 600;
  margin: 10px 0;
  background-color: #e6eaee;
}

.sidebarHr {
  margin: 10px;
  color: lightgray;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  padding-top: 10px;
  list-style: none;
  overflow: hidden;
  border-top: 1px solid lightgray;
  /* background-color: lightblue; */
}

.seeMoreItem {
  /* margin: 0 5px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #dedfdf;
  /* border: 1px solid black; */
}

.seeMoreItemIcon {
  /* color: #1877f2 !important; */
  color: black;
  width: 12px !important;
  height: 12px !important;
}
