.profile {
  display: flex;
  background-color: #ebedf0;
  width: 100%;
  margin: auto;
}

.profileCenter {
  flex: 80%;
  min-height: calc(100vh - 60px);
  overflow-y: scroll;
  /* position: sticky; */
  /* top: 60px; */
}

.profileCenterTop {
  background: linear-gradient(to bottom, #003366 -25%, #ffffff 50%);
  /* width: 100%; */
  height: 510px;
  /* border-bottom: 1px solid lightgray; */
  position: relative;
}
.profileCover {
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.profileCoverWrapper {
  height: 350px;
  width: 940px;
  position: relative;
}

.profileCoverImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}

.profileCoverButton {
  display: inline-block;
  position: absolute;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* color: rgb(97, 97, 97); */
  background-color: white;
  margin-left: 10px;
  bottom: 15px;
  right: 30px;
}

.profileCoverButtonIcon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  color: black;
}

.profileUser {
  height: 210px;
  /* width: 55%; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 300px;
  width: 100%;
  margin: auto;
  /* padding-bottom: 15px; */
  /* border-bottom: 1px solid lightgray; */
}
.profileUserWarpper {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 908px;
  height: 100%;
  padding: 0 10px;
}
.profileUserImgWarpper {
  width: 174px;
  height: 174px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 35px; */
  margin-right: 20px;
  position: relative;
}
.profileUserImg {
  width: 169px;
  height: 169px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid lightgray;
  cursor: pointer;
}

.profileUserImgIconWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  bottom: 20px;
  right: 5px;
  background-color: #e6eaee;
}

.profileUserImgIconWrapper:hover {
  background-color: #d3d7db;
}

.profileUserImgIcon {
  width: 20px;
  height: 20px;
  /* border-radius: 50%; */
  cursor: pointer;
}

.profileInfo {
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 50%;
  margin-bottom: 32px;
}

.profileInfoName {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1875;
}

.profileInfoDesc {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.1765;
  color: gray;
  /* transform: scale(1, 0.8); */
  /* letter-spacing: 0.5px; */
  padding-top: 5px;
}

.friendsList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
}

.friendsListWrapper {
  display: flex;
  align-items: center;
}
.friendsListImgWarpper {
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-left: -8px;
  border-radius: 50%;
  /* border: 1px solid lightgray; */
}
.friendsListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 1px solid lightgray; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  width: 100%;
  margin: auto;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.menuWrapper {
  height: 60px;
  width: 908px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.menuList {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.menuListItem {
  font-size: 12px;
  font-weight: 600;
  transform: scale(1, 1.1);
  /* font-stretch: ultra-expanded; */
  height: 50px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(76, 76, 76);
  /* margin-right: 20px; */
  cursor: pointer;
  letter-spacing: 0.5px;
}
.menuListItem:hover:not(.active) {
  background-color: #f0f0f0;
  border-radius: 5px;
}
.menuListItem.active {
  border-bottom: 4px solid #1877f2;
  color: #1877f2;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 36px;
  padding: 5px;
  background-color: #e6eaee;
  border-radius: 5px;
  font-weight: 300;
  font-size: 12px;
}

.menuButton:hover {
  cursor: pointer;
  background-color: #d3d7db;
}

.profileCenterBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.profileCenterBottomWrapper {
  display: flex;
  width: 908px;
  margin: auto;
  margin-top: 15px;
  padding: 0 10px;
}

.profileCenterBottomLeft {
  flex: 40%;
  margin-right: 15px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: max-content;
}

.profileCenterBottomLeftTitle {
  font-size: 20px;
  font-weight: 600;
}

.profileCenterBottomLeftJoined {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}

.profileCenterBottomLeftJoinedIcon {
  font-size: 20px;
  font-weight: 600;
  color: #9b9c9c !important;
  margin-right: 10px;
}
.profileCenterBottomLeftJoinedDate {
  font-size: 13px;
  font-weight: 500;
}

.profileInfoButtons {
  display: flex;
  align-items: flex-end;
  height: 170px;
  margin-bottom: 32px;
}
.profileInfoButton {
  display: block;
  border: none;
  padding: 10px;
  border-radius: 5px;
  /* font-size: 13px; */
  font-size: 13px;
  font-weight: 600;
  line-height: 1.3333;
  background-color: #e6eaee;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* color: rgb(97, 97, 97); */
  margin-left: 10px;
  word-wrap: break-word;
  height: 36px;
}

.profileInfoButton:hover {
  background-color: #d3d7db;
}
.profileInfoButtonIcon {
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
}

.profileCenterBottomLeftButton {
  display: block;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0 0 0;
  background-color: #e6eaee;
  text-align: center;
  cursor: pointer;
}

.profileCenterBottomLeftButton:hover {
  background-color: #d3d7db;
}

.profileCenterBottomRight {
  flex: 60% !important;
}

.profileCenterBottomCenter {
  display: flex;
  flex: 80%;
}
.profileCenterBottomCenterLeft {
  flex: 9;
}
.profileCenterBottomCenterRight {
  flex: 3;
}

.profileCenterBottomRight {
  flex: 10%;
}
