.rightbar {
  flex: 25%;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  /* background-color: #ebedf0; */
  background-color: #f5f6f7;
  top: 50px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.rightbarWrapper {
  padding: 20px 20px;
}

.birthdayContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 12px;
  margin: auto;
  padding: 10px;
  /* display: flex;
  align-items: center; */
  height: 40px;
}

.rightbarAdWapper {
  /* padding: 5px 0; */
  border-bottom: 1px solid lightgray;
}
.rightbarAdTitle {
  /* margin-bottom: 10px; */
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  color: gray;
  /* letter-spacing: 0.5px; */
}

.rightbarAdWrapper {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
  padding: 10px;
}

.rightbarAdWrapper:hover {
  background-color: #e6eaee;
  border-radius: 10px;
  cursor: pointer;
}
.rightbarAdImg {
  width: 40%;
  border-radius: 10px;
  margin-right: 10px;
  object-fit: cover;
  /* margin: 15px 0; */
}

.rightbarAdTextWrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: flex-start; */
}
.rightbarAdText {
  font-weight: 600;
  font-size: 14px;
  margin: auto;
  height: 40px;
}

.rightbarAdWww {
  font-weight: 300;
  font-size: 10px;
}

.rightbarHr {
  margin: 10px;
  color: lightgray;
}

.rightbarTitle {
  margin: 10px 0;
  font-weight: 600;
  font-size: 16px;
  color: gray;
  /* letter-spacing: 0.5px; */
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  /* padding-top: 20px; */
  list-style: none;
  overflow: hidden;
  /* border-top: 1px solid lightgray; */
}
/* 
.rightbarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
} */

.rightbarInfo {
  margin-bottom: 30px;
}

.rightbarInfoItem {
  margin-bottom: 10px;
}

.rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightbarInfoValue {
  font-weight: 300;
}

.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 5px;
}

.rightbarFollowingName {
  text-align: center;
}

.rightbarFollowButton {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #1872f2;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.rightbarFollowButton:focus {
  outline: none;
}
