.stories {
  /* max-width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  background-color: white;
  height: 220px;
  margin-bottom: 10px;
  display: block; */
  padding: 0 0 30px 0;
}

.storiesWrapper {
  /* padding-top: 8px;
  padding-bottom: 24px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
  flex-wrap: nowrap; */
  position: relative;
  overflow: hidden;
}

.storyList {
  display: flex;
  align-items: center;
  height: 190px;

  /* justify-content: space-between; */
  width: max-content;
  transform: translateX(0px);
  transition: all 1s ease;

  /* transform: translateX(0); */
  /* transition: all 1s ease-in-out; */
}

.arrow {
  /* font-size: 100px; */
  width: 50px;
  height: 100%;
  /* background-color: rgb(22, 22, 22, 0.5); */
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  color: white;
  opacity: 0.5;
  cursor: pointer;
  z-index: 999;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.arrow:hover {
  color: white;
  opacity: 0.8;
  transition: all 1s ease-in-out;
}

.story {
  /* background-color: white; */
  width: 107px;
  border-radius: 10px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  margin-right: 7px;
  overflow: hidden;
  cursor: pointer;

  /* transition: all 1.2s ease-in-out; */

  /* -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  background-color: white; */
}

.story:hover {
  /* transform: scale(1.1); */
  /* margin: 0 10px; */
  opacity: 0.7;
  transition: all 1s ease-in-out;
}

.storyImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storyTextWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* opacity: 0.6; */
  /* background-color: rgba(0, 0, 0, 0.6); */
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
}
.storyText {
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}
